.Lightbox {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: hsla(0, 0%, 20%, 0.4);
    backdrop-filter: blur(0);
    z-index: 2;
    opacity: 0;
    transition: all 0.65s;
}

.Lightbox._active {
    backdrop-filter: blur(2px);
    opacity: 1;
}

.Lightbox_Image {
    box-shadow: 0 0.2rem 1rem 0 var(--color-shadow);
    max-height: 92vh;
    max-width: 92vw;
}
@media (min-width: 500px) {
    .Lightbox_Image {
        max-height: 80vh;
        max-width: 80vw;
    }
}

._enterLeft {
    animation-name: enterLeft;
    animation-duration: 0.6s;
    text-align: center;
}

@keyframes enterLeft {
    from {
        transform: translateX(-3rem) scale(0.96);
        opacity: 0;
    }
    to {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

._enterRight {
    animation-name: enterRight;
    animation-duration: 0.6s;
    text-align: center;
}

@keyframes enterRight {
    from {
        transform: translateX(3rem) scale(0.96);
        opacity: 0;
    }
    to {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

.Lightbox_Content {
    display: grid;
    gap: min(2rem, 2vh);
    grid-template-rows: repeat(2, min-content) auto;
    align-items: center;
    justify-content: center;
    align-self: end;
    margin-top: 2vh;
}

/* .Lightbox_Content > :first-child { */
/* .Lightbox_Close{
    align-self: flex-end;
    margin-bottom: 1.4rem;
} */

.Lightbox_Close {
    color: white;
    cursor: pointer;
    /* position: fixed; */
    /* top: 0.5rem; */
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    /* padding: 0.4rem 0.8rem; */
    border: none;
    font-size: 1.1rem;
    border-radius: 1rem;
    display: inline-block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}
@media (min-width: 500px) {
    .Lightbox_Close {
        top: 1rem;
    }
}

.Lightbox_Anim {
    text-align: center;
}

.Lightbox_Anim._svg > img {
    height: 80vmin;
    filter: drop-shadow(1rem 1rem 0.25rem hsla(0, 0%, 0%, 0.4));
}