.Project {
    --color: hsla(240, 50%, 50%, 0.8);
    background: var(--color-one);
    background: hsla(240, 50%, 50%, 0.8);
    background:
        linear-gradient(90deg,
            white -25%,
            var(--color) 8%,
            var(--color) 92%,
            white 125%
        );
    mix-blend-mode: multiply;
    backdrop-filter: blur(2px);
    border-top: 2px solid hsla(0, 0%, 100%, 0.12);
    border-bottom: 2px solid hsla(0, 0%, 0%, 0.22);
    box-sizing: border-box;
}
.Project:nth-child(3n+2) {
    --color: var(--color-bg-one);
}
.Project:nth-child(3n) {
    --color: var(--color-bg-two);
}
.Project:nth-child(3n+1) {
    --color: var(--color-bg-three);
}
.Project:first-of-type {
    box-shadow: 0 -2rem 1.6rem 0 rgba(0, 0, 0, 0.13);
}
.Project:last-of-type {
    --color: var(--color-bg-last);
    box-shadow: 0 2rem 1.6rem 0 rgba(0, 0, 0, 0.13);
}

@media (min-width: 900px) {
    .Project {
        background:
            linear-gradient(
                hsla(0, 0%, 100%, 0.1),
                hsla(0, 0%, 100%, 0.1)
            ),
            linear-gradient(90deg,
                white -20%,
                var(--color) 30%,
                var(--color) 70%,
                white 120%
            );
    }
}
@media (min-width: 1400px) {
    .Project {
        background:
            linear-gradient(90deg,
                white 5%,
                var(--color) 26%,
                var(--color) 74%,
                white 95%
            );
    }
    .Project:last-of-type {
        background:
            linear-gradient(90deg,
                white -30%,
                var(--color) 30%,
                var(--color) 70%,
                white 130%
            );
    }
}

.ProjectContent {
    /* box-sizing: border-box; */
    margin: 0 auto;
    max-width: 900px;
    padding: 4rem 2vw;
    text-align: center;
    width: 80vw;
}

.Project h1 {
    color: white;
    font-family: var(--font-title);
    font-weight: normal;
    font-size: 6rem;
    line-height: 55%;
    margin: 0 0 0.5rem;
    scroll-margin: 4rem;
    text-shadow: 0 0 0.5rem hsla(0, 0%, 0%, 0.2);
}

.Project p {
    color: var(--color-dark);
    font-family: var(--font-copy);
    font-size: 1.1rem;
    font-weight: light;
    font-weight: 600;
    margin: 0 auto 1.6rem;
    max-width: 280px;
    text-align: left;
    width: 75%;
}

