.Thumbnails {
    --thumbnail-size: 2.2rem;
    display: flex;
    gap: 3vw;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}
@media (min-width: 500px) {
    .Thumbnails {
        --thumbnail-size: 2.4rem;
        gap: 6vw;
    }
}
@media (min-width: 600px) {
    .Thumbnails {
        --thumbnail-size: 2.8rem;
        gap: var(--thumbnail-size);
    }
}

.ProjectThumbnail {
    padding: 0;
    border: none;
    border-radius: 0.4rem;
    overflow: hidden;
    cursor: pointer;
}
.ProjectThumbnail > img {
    display: block;
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
}

.ProjectThumbnail._svg {
    align-items: center;
    display: flex;
    height: var(--thumbnail-size);
    justify-content: center;
    width: var(--thumbnail-size);
}

.ProjectThumbnail._svg > img {
    height: calc(2.2 * var(--thumbnail-size));
    width: auto;
}