.App {
  display: flex;
  flex-direction: column;
  background-image:
    linear-gradient(
      hsla(0, 0%, 100%, 0.3) 0%,
      hsla(0, 0%, 100%, 0.5) 30%),
    url('./Assets/grey-wood-5.jpg');
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}
.App-bkp::before {
  content: '';
  position: fixed;
  background-image: url('./Assets/grey-wood-4.jpg'); 
  background-size: cover;
  background-position: top center;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}

@media (min-width: 1920px) {
  .App {
    background-size: cover;
  }
}